{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "jsx-quotes": [2, "prefer-single"],
    "react/jsx-curly-spacing": [2, "always"],
    "react/prefer-stateless-function": [0]
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
